.chess-board__item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    min-width: 25px;
    min-height: 25px;
    width: 10vw;
    height: 10vh;
    max-width: 75px;
    max-height: 75px;
    border: none;
}

.chess-board__item:hover {
    opacity: 0.8;
    cursor: pointer;
}

.chess-board__item .valid {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: grey;
    width: 25px;
    height: 25px;
    color: transparent;
}



